---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <div class="hero min-h-screen bg-base-100">
    <div class="hero-content">
      <div>
        <h1 class="text-5xl font-bold" transition:name="title">404 Not Found</h1>
        <a class="btn btn-neutral mt-8" href="/" transition:name="btn-home">
          <kbd class="kbd text-base-content">Esc</kbd>Home
        </a>
      </div>
    </div>
  </div>
</BaseLayout>
