---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Nicholas Weidmann">
  <div class="h-16"></div>
  <div class="">
    <p class="" transition:name="title">Nicholas Weidmann</p>
  </div>
  <div class="">
    <a class="btn btn-primary" href="projects" transition:name="btn">projects</a>
  </div>
</Layout>
