---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Nicholas Weidmann">
  <div class="h-16"></div>
  <div class="">
    <p class="text-center text-4xl" transition:name="title">Nicholas Weidmann</p>
  </div>
  <div class="h-16"></div>
  <div class="h-16"></div>
  <div class="">
    <a class="btn btn-primary h-40" href="/" transition:name="btn">home</a>
  </div>
</Layout>
