---
import NavbarLayout from '../layouts/NavbarLayout.astro'
---

<NavbarLayout title="Nicholas Weidmann">
  <div class="flex flex-wrap gap-8 px-8 max-sm:pt-8">
    <a href="/projects/test_client">
      <div class="card bg-base-200 shadow-xl md:w-96">
        <figure>
          <img src="/images/mmocld-test_client.png" alt="mmocld test_client" transition:name="img-test_client" />
        </figure>
        <div class="card-body">
          <h2 class="card-title" transition:name="title-test_client">
            Test Client
            <div class="badge badge-secondary" transition:name="group_tag-test_client">mmocld</div>
          </h2>
          <p transition:name="short_desc-test_client">If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end font-semibold" transition:name="tech_tags-test_client">
            <div class="badge badge-accent">Angular</div>
            <div class="badge badge-primary">API</div>
            <div class="badge badge-primary">OpenID Connect</div>
          </div>
        </div>
      </div>
    </a>
  </div>
</NavbarLayout>
