---
import { ViewTransitions } from 'astro:transitions'
import SEODefaults from '../components/SEO-defaults.astro'
interface Props {}
const {} = Astro.props
---

<html lang="en">
  <head>
    <slot name="seo"><SEODefaults /></slot>
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <script>
      import { navigate } from 'astro:transitions/client'
      document.addEventListener(
        'keyup',
        (event) => {
          if (event.key === 'Escape') navigate('/')
          if (event.key === '1') navigate('/experience')
          if (event.key === '2') navigate('/projects')
          if (event.key === '3') navigate('/about')
        },
        false,
      )
    </script>
  </body>
</html>
